* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* min-height: 100vh; */
  width: 100vw;
  line-height: 1.5;
  background: #2e2e2e;
  color: #aaa;
  overflow-x: hidden;
}

.navbar {
  z-index: 50;
  display: flex;
  background: #2e2e2e !important;
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
}
.container {
  width: 100vw;
  height: 100%;
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.navbar-offset {
  margin-top: 5rem;
}
.title-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: #2e2e2e;
}

.subtitle-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: #2e2e2e;
}

.project-title-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: #2e2e2e;
}
/* Intro */
.v-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-wrapper video {
  min-width: 100%;
  min-height: 100%;
  max-height: 105vh;
}

.video-wrapper img {
  min-width: 100%;
  min-height: 100%;
  max-height: 100vh;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}

.header-content {
  z-index: 2;
  font-family: 'Josefin Sans', sans-serif;
}

.header-content h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.header-content p {
  font-size: 2rem;
}

.arrow {
  z-index: 1;
  text-align: center;
  color: #ccc;
  position: absolute;
  bottom: 1rem;
}

.arrow a {
  text-decoration: none;
  color: #ccc;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrow a:hover {
  color: #fff;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.logo-img {
  width: 35px;
  height: 35px;
}

.text-shadow {
  text-shadow: 1px 1px 2px #333;
}

/* About */
#about {
  background-color: #f4f4f4;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 0.5rem auto;
  margin-top: 1.5rem;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
}

.self-intro-content {
  max-width: 700px;
  margin: 1rem auto;
}

.btn-light {
  background-color: #f4f4f4;
  font-weight: 100;
  border: none;
}

.btn-light:hover {
  background-color: #ddd;
  border: none;
}

.btn-light.active {
  background-color: #eaeaea !important;
  font-weight: 800;
}

/* Skills */
#skills {
  background-color: #fff;
}
.skill-container {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
.skill-icon {
  height: 60px;
  margin-bottom: 0.8rem;
  filter: grayscale(100%);
}

.skill-icon:hover {
  filter: grayscale(0%);
  -moz-transition-duration: 0.6s;
  -moz-animation-timing-function: ease;
  transition-duration: 0.6s;
  animation-timing-function: ease;
}

.subskill-icon {
  height: 30px;
  margin-bottom: 0.8rem;
}

/* Portfolio */
.project-image {
  width: 350px;
}

.project-icon {
  height: 30px;
  margin-bottom: 0.8rem;
  filter: grayscale(100%);
}

.badge-primary {
  border: 1px solid #89c4ff;
  color: #89c4ff;
  background-color: #2e2e2e;
}
/* Experience */
#experience {
  background-color: #f4f4f4;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: '';
  background: #b5b5b5;
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 3px;
  height: 100%;
  z-index: 2;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: #f4f4f4;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #444;
  left: 1px;
  width: 20px;
  height: 20px;
  z-index: 3;
}

.view-link {
  margin-top: 2rem;
}
/* Education */
#education {
  background-color: #fff;
}

.calendar {
  border: none;
}

.github-output {
  max-width: 600px;
}

/* Contact */
#contact {
  min-height: 100%;
}
.icon {
  font-size: 3rem;
}

.contact-box-tw {
  background-color: #4facf1;
  border-radius: 10px;
  width: 120px;
  height: 90px;
}

.contact-box-fb {
  background-color: #4a6fa9;
  border-radius: 10px;
  width: 120px;
  height: 90px;
}

.contact-box-wa {
  background-color: #00a4bb;
  border-radius: 10px;
  width: 120px;
  height: 90px;
}

.contact-box-email {
  width: 120px;
  height: 90px;
}

.contact-img {
  width: 65px;
  height: 65px;
  border-radius: 10px;
}

.social-media {
  max-width: 400px;
  margin: auto;
  margin-bottom: 5rem;
}

/* Footer */
